*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(20, 19, 19);
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}

.content h2{
    color: white;
    padding: 10px;
    font-size: xx-large;
}

.content p{
    color:#7DF9FF;
    padding: 10px;
    font-size: x-large;
}

.images {
    display: flex;
    justify-content: center;
    gap: 30px; 
}
.gallery-section{
    padding: 80px 6vw 40px 6vw;
}
.images img {
   width: calc((100% - 60px) / 3);
    height: 250px;
    object-fit: cover;     
    border-radius: 20px;
    border: 2px solid #7DF9FF; 
}

.images img:hover {
    transform: scale(1.08); 
    box-shadow: 0 10px 25px #74dbe1; 
}
.experience{
    padding: 80px 6vw 40px 6vw;
}
.section-title{
    font-size: xx-large;
    margin-bottom: 50px;
    letter-spacing: 0.5px;
    color: #f5f5f5;
}
.section-subtitle{
    color: #7DF9FF;
    font-size: x-large;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 14px;
}
.trainers-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 28px;
}
@media(max-width: 900px){
    .trainers-grid{ grid-template-columns: 1fr;}
}
.trainer-card{
    display: flex;
    flex-direction: column;
    background: #1a1c1e;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
    padding: 20px;
    text-align: center;
}
.trainer-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 25px #74dbe1; 
    border: 2px solid #7DF9FF;
}
.card-image{
    width: 100%;
    aspect-ratio: 3/4;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
}
.card-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
}
.trainer-card h3{
    font-size: 19px;
    margin-bottom: 12px;
    color: #f5f5f5;
}
.trainer-card p{
    font-style: italic;
    font-size: 14px;
    margin-bottom: 18px;
    line-height: 1.6;
    color: #9a9a9a;
}
.card-link{
    color: #f5f5f5;
    margin-bottom: 20px;
    line-height: 1.6;
    text-decoration: none;
}
.card-link:hover{
    color: #7DF9FF;
}